@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--cor01);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
 
}
:target {
    scroll-margin-top: .8em;
  }
.container{
    width: 80%;
    margin: auto;
}

:root{
    --cor01: #121212;
    --cor02:#333333;
    --cor03:#3863a0;
    --cor04:#60aadf;
    --cor05:#f4f4f4;

    --cor2:#C1886F;
    --cor5:#1c5259;

    --fontDestaque: 'Bebas Neue', cursive;
     --fontPadrao: 'Lato', sans-serif;

}
a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  #menu a:hover {
    background:var(--cor04);
    color: var(--cor02);
    padding: 20px;
    transition: all .3s ease;
  }
  #menu a.menu_ativo{
      background-color: var(--cor03);
      color: var(--cor02);
      padding: 20px;
      
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    color: var(--cor05);
    font-family: var(--fontDestaque);
    text-align: center;
    font-size: 2em;
  }
 /* BANNER */
 .banner{
    background-image: url('../imgs/textura-fundo.png');
   height: 300px;
}
.img-container{
    width: 100%;
    border: 4px solid var(--cor04);
    margin-top: 40px;
}
/*portifolio*/
.servicos{
 margin-top: 40px;
}
.img-servico{
    width: 80%;
    margin-bottom: 20px;
    margin-left: 30px;
}
.titulo{
  font-size: 2.5em;
  color: var(--cor05);
  font-family: var(--fontDestaque);
  text-align: center;
  margin:20px  0px 40px 0px;
}
.paragrafo{
  font-size: 1.em;
  color: var(--cor05);
  font-family: var(--fontPadrao);
  text-align: justify;
  text-indent: 20px;
}
/* SOBRE*/

.sobre{
  background-image: url('../imgs/textura-fundo.png');
  height: 500px;
}


.sobre-img{
    width: 60%;
    margin-top: 40px;
    margin-left: 60px;
    border: 5px solid var(--cor03);
}
.icons{
    width: 40px;
    margin-right: 20px;
}
.paragrafo2{
    margin-left: 20px;
}
.subtitulo{
  font-size: 1.2em;
  color: var(--cor04);
  text-align: center;
  font-family: var(--fontPadrao);
  margin-bottom: 40px;
  margin-left: 65px;
}
.sub-book{
  font-size: 1.9em;
  color: var(--cor03);
  text-align: center;
  font-family: var(--fontPadrao);
  margin-bottom: 40px;
  margin-left: 65px;
}
.paragrafo1{
  font-size: 1em;
  color: var(--cor05);
  font-family: var(--fontPadrao);
  font-weight: 500;
}
/* CONTATO*/
.contato{
  margin-top: 40px;
}

.form{
  margin-bottom: 60px;
}
.form .area-texto{
  width: 80%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-image: linear-gradient(to  right, #121212, #333333);
  border: 2px solid var(--cor02);
}
.form label{
  display: block;
margin: 5px;
}
#form-erro span, #form-send span {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  display: block;
}
#form-send {
  color: #31aa39;
}
#form-erro {
  color: #f64540;
}
.formphp label.nao-aparece, .formphp input.nao-aparece {
  display: none !important;
}
.form-{
  margin-left: 40px;
}
.btn{
  margin-top: 40px;
  width: 200px;
  height: 40px;
  font-family:var(--fontDestaque);
  font-size: 24px;
  background-image: linear-gradient(to  right, #121212, #333333);
  color: var(--cor04);
  box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.205);
  border: 1px solid #333333;
}


@keyframes bouce{
    0%, 20%, 60%, 100%{
        -webkit-transform:translateY(0);
        transform: translateY(0);
    }
    40%{
        -webkit-transform:translateY(-20px);
        transform: translateY(-20px);

    }
    80%{
        -webkit-transform:translateY(-10px);
        transform: translateY(-10px);

    }
}
  .efeito-servico:hover{
    animation: bouce 1s;
  } 
  #slider{
    width: 80%;
    height: 30vw;   
    position: relative;   
}
#slider img{
    opacity: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}
#slider img.selected{
    opacity: 1 ;
}







  @media screen and (max-width:767px){
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .logo{
      width: 60px;
  }
  #header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to  right, #121212, #333333);
  }
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  #menu a {
    display: block;
    padding: 0.5rem;
  }
  #btn-mobile {
    display: none;
  }
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background-image: linear-gradient(to  right, #121212, #333333);
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    .nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      color: var(--cor05);
      font-family: var(--fontDestaque);
      text-align: center;
      font-size: 2em;
    }
    #menu a:hover{
        background-color: var(--cor04);
        color: var(--cor02);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
      color: var(--cor05);
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    .nav.active #hamburger {
      border-top-color: transparent;
    }
    .nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    .nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }  
    #slider{
        width: 80%;
        height: 40vh;
    } 
  }
.button{
    display: none;
}
    .cabecalho{
        background-image: url('/imgs/textura\ fundo.png');
        height: 150px;
        width: 100%;
    }
    .logo-cabecalho{
        width: 150px;
    
    
    }
    .cabecalho-logo{
        text-align: center;
     
    }
    .fundo{
        background-image: url('/imgs/barra.png'); 
     
       
    }
    

    #menu a{
        font-size: 1.5em;
        margin:0px;
    }
    .nav ul   {
        display: flex;
      justify-content: center;
     
    }
    
    .nav ul li{
         margin: 15px;
         padding: 10px;
         font-family:var(--fontDestaque);
         
         
    }
    
    .menu  li a {
        color: var(--cor02);
        font-size: 1.5em;

    }
    /* BANNER */
    .banner{
        background-image: url('/imgs/textura\ fundo.png'); 
         width: 100%;
         height: 300px;
      
    }
      
  #slider{
    width: 80%;
    height: 60vh;
    position: relative;
    
   
}



 
    .img-container{

        border: 4px solid var(--cor03);
        margin-top: 40px;
        margin-left: 40px;
    }
    .img-servico{
        width: 100%;
        height: 100%;
        border: 5px solid var(--cor02);
    }
    
        .servicos{
        margin-top: 150px;
         
      
        }
        .servicos ul{
            display: flex;
            justify-content: center;
           
        }
        
        .servicos ul li{
            width: 100%;
         margin-left: 40px;
            
            
        }
    
    
    
        .sobre-img{
            width: 200px;
            height: 200px;
            border: 4px solid var(--cor04);
        
        }
     
        .sobre-organizacao{
            display: flex;
           
        }
        .sobre{
          background-image: url('/imgs/textura\ fundo.png'); 
          margin-top: 40px;
          height: 400px;
       
      }
      
      .bloco-texto{
        align-self: center;
    }
    
        .titulo{
            font-size: 4.5em;
            color: var(--cor05);
            font-family: var(--fontDestaque);
            text-align: right;
            
        }
     
        .titulo2{
            text-align: left;
            margin-left: 20px;
            margin-top: 10px;
        }
        .titulo3{
            text-align: left;
            margin-left: 20px;
            margin-top: 250px; 
        }
        .subtitulo{
            font-size: 1.8em;
            color: var(--cor05);
            text-align: center;
            font-family: var(--fontPadrao);
        }
        .icons{
            width: 40px;
            margin: 5px;
        }
      
        .paragrafo{
            font-size: 1.5em;
            color: var(--cor05);
            font-family: var(--fontPadrao);
            text-align: right;
            
        }
        .paragrafo2{
            text-align: left;
            margin-left: 20px;
            margin-top: 20px;
            width: 500px;
        }
    
     
   
        .contato{
            margin-top: 100px;
        }
      
    
        .contato-organizer {
            display: flex;
        }
    
        .btn{
            margin-top: 40px;
            width: 200px;
            height: 40px;
            font-family:var(--fontDestaque);
            font-size: 24px;
            background-image: linear-gradient(to  right, #121212, #333333);
            color: var(--cor04);
            box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.205);
            border: 1px solid #333333;
          
        }
    
        .s2{
            margin-bottom: 20px;
            margin-top: 20px;
        }
    .rodape{
        background-image: linear-gradient(to  right, #121212, #333333);
        text-align: center;
        color: var(--cor05);
        padding: 20px;
        font-size: 1em;
        font-family: var(--fontPadrao);
        
    }
    



@media screen and (min-width:1024px){

    .nav ul li a{
      font-size: 2.6em;
    }
}







