@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--cor01);
}


html {
  scroll-behavior: smooth;
 
}
:target {
    scroll-margin-top: .8em;
  }
.container{
    width: 80%;
    margin: auto;
}

:root{
    --cor01: #121212;
    --cor02:#333333;
    --cor03:#3863a0;
    --cor04:#60aadf;
    --cor05:#f4f4f4;

    --cor2:#C1886F;
    --cor5:#1c5259;

    --fontDestaque: 'Bebas Neue', cursive;
     --fontPadrao: 'Lato', sans-serif;

}
ul{ list-style: none;}
a{text-decoration: none;}
  /* FONTE BÀSICO*/
  .titulo{
    font-size: 4.5em;
    color: var(--cor05);
    font-family: var(--fontDestaque);
    text-align: right;
    
}
.titulo2{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
.titulo3{
    text-align: left;
   margin-bottom: 60px;
    
}
.subtitulo{
    font-size: 1.8em;
    color: var(--cor05);
    text-align: center;
    font-family: var(--fontPadrao);
}
.icons{
    width: 40px;
    margin: 5px;
}
.paragrafo{
    font-size: 1.5em;
    color: var(--cor05);
    font-family: var(--fontPadrao);
    text-align: right;
    
}
.paragrafo1{
    font-size: 1em;
    color: var(--cor05);
    font-family: var(--fontPadrao);
    font-weight: 500;
    }
.paragrafo2{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    color: var(--cor05);
}

.sub-book{
  color: var(--cor03);
  font-family: var(--fontPadrao);
  text-align: center;
  margin-bottom: 60px;
}
.titulo-book{
  text-align: center;
  color: var(--cor05);
  text-transform: uppercase;
  font-size: 4em;
  font-family: var(--fontDestaque);
  margin: 100px;
}
/*EFEITO */
@keyframes bouce{
    0%, 20%, 60%, 100%{
        -webkit-transform:translateY(0);
        transform: translateY(0);
    }
    40%{
        -webkit-transform:translateY(-20px);
        transform: translateY(-20px);

    }
    80%{
        -webkit-transform:translateY(-10px);
        transform: translateY(-10px);

    }
}
  .efeito-servico:hover{
    animation: bouce 1s;

  }
/* GERAL */  

.rodape{
    background:var(--cor02);
    text-align: center;
    color: var(--cor05);
    padding: 25px;
    font-size: 1em;
    font-family: var(--fontPadrao); 
  }
  .cont{
    display: flex;
  }
  .email{
    color: var(--cor04); 
  }

  #menu a:hover {
    background:var(--cor04);
    color: var(--cor02);
    padding: 20px;
    transition: all .3s ease;
  }
  #menu a.menu_ativo{
     
      color: var(--cor04);
      padding: 20px;
      
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    color: var(--cor05);
    font-family: var(--fontDestaque);
    text-align: center;
    font-size: 2em;
  }


  #link-topo{
    color: var(--cor03);
    background-color: var(--cor05);
    padding: 5px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
  }
  #link-topo:hover{
    background-color: var(--cor02);
  }
  /*portifolio*/
/* Banner*/
.banner{
    background-image: url('../imgs/textura-fundo.png');
     height: 400px;
     margin-top: 100px;

}
.img-container{
    width: 100%;
    border: 4px solid var(--cor04);
    margin-top: 40px;

}
#slider{
    width: 80%;
 
    height: 60vh;
    
    position: relative;
   
}
#slider img{
    opacity: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}
#slider img.selected{
    opacity: 1 ;
}



/* CONTATO*/
.form .area-texto{
  
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-image: linear-gradient(to  right, #121212, #333333);
    border: 2px solid var(--cor02);
  }
  .form label{
    display: block;
  margin: 5px;
  }
  #form-erro span, #form-send span {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
  }
  #form-send {
    color: #31aa39;
  }
  #form-erro {
    color: #f64540;
  }

  .formphp label.nao-aparece, .formphp input.nao-aparece {
    display: none !important;
  }

  .btn{
    margin-top: 40px;
    width: 200px;
    height: 40px;
    font-family:var(--fontDestaque);
    font-size: 24px;
    background-image: linear-gradient(to  right, #121212, #333333);
    color: var(--cor04);
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.205);
    border: 1px solid #333333;
  
}


/*Book*/


/* Menu - página books */


.botton-book{
  margin-left: 40px;
  padding-top: 5px;
  width: 200px;
  height: 40px;
  font-family:var(--fontDestaque);
  font-size: 24px;
  background-image: linear-gradient(to  right, #121212, #333333);
  color: var(--cor04);
  box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.205);
  border: 1px solid #333333;


  text-align: center;
}

.botton-book:hover{
  background: var(--cor03);
  color: var(--cor01);
  transition: all ease-in-out .2s;
  border: 4px solid var(--cor03);
}




.escolhe-book{
  display: flex;
  justify-content: center;
}




/*mobile */
@media only screen  and (max-width: 600px) {
 
.titulo{
    font-size: 1.8em;
    text-align: center;
    margin-top: 40px;

}
.banner{
    display: none;
}
#about{
  display: none;
}

.servicos ul li{
    margin-bottom: 20px;
}
#servico{
  width: 70%;
    margin: auto;
    display: block;
    
}
/* SOBRE */

.paragrafo{
    font-size: 1.2em;
    margin: 0px;
    width: 60%;
    margin-right: 10px;
}

.paragrafo-2{
  font-size: 1.2em;
  color: var(--cor05);
  font-family: var(--fontPadrao);
  font-weight: 500;
  text-align: justify;
  width: 100%;
  margin: 0px;
}

#sobre{
    display: none;
}

.subtitulo{
display: none;
}

#link{
  margin: 0;
  margin-right: 15px;
  padding-left: 0;
  width: 20px;
}

  #link{
      display: inline;
  }
  .form{
   display: none;
    padding: 20px;
    text-align: center;
    margin-bottom: 60px;
}
#contat{
  display: block;
}

.escolhe-book a{
  font-size: 1.2em;
}


.sub-book{
  font-size: 1.2em;
  margin-bottom: 20px;
}

.titulo-book{
  font-size: 2.2em;
  margin: 40px 0;
}
.container_book .box {
  grid-column: span 2;
  grid-row: span 1;
  position: relative;

}





}


/* Tablet e Laptop*/
@media screen  and (max-width: 1024px){
  #logo {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .logo{
          width: 60px;
      }      
      #header {
        box-sizing: border-box;
        height: 70px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(to  right, #121212, #333333);
      }    
      #menu {
        display: flex;
        list-style: none;
        gap: 0.5rem;
      }  
      #menu a {
        display: block;
        padding: 0.5rem;
      }  
      #btn-mobile {
        display: none;
      }
        #menu {
          display: block;
          position: absolute;
          width: 100%;
          top: 70px;
          right: 0px;
          background-image: linear-gradient(to  right, #121212, #333333);
          transition: 0.6s;
          z-index: 1000;
          height: 0px;
          visibility: hidden;
          overflow-y: hidden;
        }
        .nav.active #menu {
          height: calc(100vh - 70px);
          visibility: visible;
          overflow-y: auto;
        }
        #menu a {
          padding: 1rem 0;
          margin: 0 1rem;
          color: var(--cor05);
          font-family: var(--fontDestaque);
          text-align: center;
          font-size: 2em;
    
        
        }
        #menu a:hover{
            background-color: var(--cor04);
            color: var(--cor02);
        }
        #btn-mobile {
          display: flex;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          border: none;
          background: none;
          cursor: pointer;
          gap: 0.5rem;
        }
        #hamburger {
          border-top: 2px solid;
          width: 20px;
          color: var(--cor05);
        }
        #hamburger::after,
        #hamburger::before {
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          background: currentColor;
          margin-top: 5px;
          transition: 0.3s;
          position: relative;
        }
        .nav.active #hamburger {
          border-top-color: transparent;
        }
        .nav.active #hamburger::before {
          transform: rotate(135deg);
        }
        .nav.active #hamburger::after {
          transform: rotate(-135deg);
          top: -7px;
        }

        /* sobre*/
.bloco-texto{
    width: 100%;
}
#about{
    background-image: url(../imgs/textura-fundo.png);
    background-size: cover;
    padding: 60px;
    margin-bottom: 80px;
}
.sobre-img{
    width: 50%;
    border: 4px solid var(--cor04);

}

.sobre-organizacao{
    display: flex;
   
}

/* fontes*/
.paragrafo{
    font-size: 1em;
    text-align: justify;
    margin-left: 20px;
    line-height: 1.5em;
}
.titulo{
  font-size: 2.8em;
}
.titulo-page{margin-top: 40px;
  font-size: 4em;
  text-align: center;
  margin-bottom: 60px;
}

.t{
    margin-top: 150px;
}
.titulo-book{
  font-size: 2.5em;

}
.contato-organizer{
    display: inline-block;
}

/*BANNER*/
.banner{
    margin-top: 0px;
}

/* portfolio*/
.img-servico{
width: 100%;
 height: 100%;
 border: 5px solid var(--cor02);
}
.servicos ul{
    display: flex;
    justify-content: center;
   
}
.servicos ul li{
    width: 100%;
 margin-left: 20px;      
}
.servicos{
    margin-bottom: 60px;
}


/* CONTATO*/ 
.link {
    display: inline;
    margin: 20px;
}

.contato-organizer {
    display: flex;
}
.form{
padding: 10px;
text-align: center;
margin-bottom: 60px;
margin-left: 40px;

}

.paragrafo2{
    width: 200px;
}
.form .area-texto{
width: 70%;
padding: 5px;
margin-bottom: 15px;
}
.form label{
display: block;
text-align: left;

}


.container_book .box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.container_book .box {
  grid-row: span 2;
  position: relative;
  background-color: #ccc;
}
/* galeria-book*/
.container_book {
  margin: auto;
  width: 90%;
  display: grid;
  grid-auto-flow: dense;
  grid-template:
   "1fr 1fr "250px 
   "1fr 1fr "250px
  "1fr 1fr " 250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px
   "1fr 1fr "250px 
   "1fr 1fr "250px 
   "1fr 1fr "250px
   "1fr 1fr "250px 
   "1fr 1fr "250px
   "1fr 1fr "250px 
   "1fr 1fr"250px;
    grid-gap: 4px;

}
.small_img_book {
  height: 100%;
  cursor: pointer;
  transition: all linear 0.4s;
  filter: grayscale(0%);

}

.small_img_book:hover {

  transform: scale(1.2);
  z-index: 1;
  
}

/*Layout book*/
.container_layout {
  width: 90%;
  margin: auto;
  display: grid;
  grid-auto-flow: dense;
  grid-template: 
   "1fr 1fr "35vh 
  "1fr 1fr " 35vh
   "1fr 1fr  "35vh
   "1fr 1fr "35vh
   "1fr 1fr  "35vh
   
   "1fr 1fr "35vh
   "1fr 1fr  "35vh
   "1fr 1fr  "35vh
   "1fr 1fr  "35vh
   "1fr 1fr  "35vh
   "1fr 1fr  "35vh
   "1fr 1fr "35vh
   
   "1fr 1fr "35vh;
  grid-gap: 5px;

}

.container_layout .box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_layout .box {
  position: relative;
}
.container_layout .box.a{
  grid-column:span 2 ;
}
.small_img_layout {
  height: 100%;
  cursor: pointer;
  transition: all linear 0.4s;
  filter: grayscale(0%);

}

.small_img_layout:hover {

  transform: scale(1.2);
  z-index: 1;
  margin: 50px;
}

.container_layout1 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-auto-flow: dense;
  grid-template: 
   "1fr  "35vh
   "1fr  "35vh
   "1fr  "35vh
   "1fr  "35vh
   "1fr  "35vh;
  grid-gap: 10px;
  
  

}

.container_layout1 .box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_layout1 .box {
  position: relative;
}
.container_layout1 .box.a{
  grid-column:span 2 ;
}


/*ILUSTRAÇÂO*/

.container_book1 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-auto-flow: dense;
  grid-template: 
   "1fr 1fr "250px 
  "1fr 1fr " 250px
   "1fr 1fr  "250px
   "1fr 1fr  "250px
   "1fr 1fr  "250px
   "1fr 1fr  "250px
   "1fr 1fr  "250px
   "1fr 1fr  "250px;
   
  grid-gap: 5px;

}
.container_ilus{
  width: 90%;
  margin: auto;
  display: grid;
  grid-auto-flow: dense;
  grid-template: 
   "1fr "250px 
  "1fr " 250px
   "1fr   "250px
   "1fr   "250px
}
.container_book1 .box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_book1 .box {
  grid-row: span 2;
  position: relative;
  background-color: #ccc;
}



}



/*Grandes Telas*/
@media screen and (min-width: 1025px){
    .logo{
        width: 150px;
    }
    
#header{
    background-image: url('../imgs/textura-fundo.png');
    height: 153px;
    text-align: center;
    width: 100%;
    
}
#menu {
    display: flex;
justify-content: center; 

}
.fundo{
    background-image: url('../imgs/barra.png');
     padding: 10px;
     height: 100px;
 
}
/* PORTIFOLIO*/
.servicos{
    margin-top: 40px;
    margin-bottom: 80px;
   }
   
   
   .img-servico{
     
       margin-bottom: 20px;
       margin-left: 30px;
       width: 100%;
       height: 100%;
       border: 5px solid var(--cor02);
}

    .servicos{
    margin-top: 150px;
     
   
    }
    .servicos ul{
        display: flex;
        justify-content: center;
       
    }
    
    .servicos ul li{
        width: 100%;
        margin-left: 40px;
          
    }
/* sobre*/
.bloco-texto{
    width: 80%;
}
#about{
    background-image: url(../imgs/textura-fundo.png);
    padding: 40px;
    margin-bottom: 80px;
}
.sobre-img{
    width: 300px;
    height: 300px;
    border: 4px solid var(--cor04);

}

.sobre-organizacao{
    display: flex;
   
}
/* contato*/

.link {
    display: inline;
    margin: 20px;
}


.contato{
    margin-top: 100px;
}
.contato-organizer {
    display: flex;
}
.form{
padding: 10px;
text-align: center;
margin-bottom: 60px;

}
.paragrafo1{
font-size: 1em;
color: var(--cor05);
font-family: var(--fontPadrao);
font-weight: 500;
}
.paragrafo2{
    width: 450px;
}
.form .area-texto{
width: 70%;
padding: 5px;
margin-bottom: 15px;
}
.form label{
display: block;
text-align: left;

}



.s2{
    margin-bottom: 20px;
    margin-top: 20px;
}
.titulo-page{
  margin-top: 150px;
}
.small_img_book {
  height: 100%;
  cursor: pointer;
  transition: all linear 0.4s;
  filter: grayscale(0%);

}

.small_img_book:hover {

  transform: scale(1.6);
  z-index: 1;
  margin: 50px;
}

.container_book {
  width: 90%;
  margin: auto;
  display: grid;
  grid-auto-flow: dense;
  grid-template: 
   "1fr 1fr 1fr 1fr "35vh 
  "1fr 1fr 1fr 1fr " 35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh 
   
    
   "1fr 1fr 1fr 1fr "35vh;
   
  grid-gap: 5px;

}
.container_book1 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-auto-flow: dense;
  grid-template: 
   "1fr 1fr 1fr 1fr "35vh 
  "1fr 1fr 1fr 1fr " 35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh;
   
  grid-gap: 5px;

}
.container_book1 .box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_book1 .box {
  grid-row: span 2;
  position: relative;
  background-color: #ccc;
}


.container_book .box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_book .box {
  grid-row: span 2;
  position: relative;
  background-color: #ccc;
}


.container_layout {
  width: 90%;
  margin: auto;
  display: grid;
  grid-auto-flow: dense;
  grid-template: 
   "1fr 1fr 1fr 1fr "35vh 
  "1fr 1fr 1fr 1fr " 35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh;
  grid-gap: 20px;

}

.container_layout .box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_layout .box {
  position: relative;
}
.container_layout .box.a{
  grid-column:span 2 ;
}
.small_img_layout {
  height: 100%;
  cursor: pointer;
  transition: all linear 0.4s;
  filter: grayscale(0%);

}

.small_img_layout:hover {

  transform: scale(2);
  z-index: 1;
  margin: 50px;
}

.container_layout1 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-auto-flow: dense;
  grid-template: 
   "1fr 1fr 1fr 1fr "35vh
   "1fr 1fr 1fr 1fr "35vh;
  grid-gap: 20px;
  margin-bottom: 60px;
  margin-top: 20px;

}

.container_layout1 .box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container_layout1 .box {
  position: relative;
}
.container_layout1 .box.a{
  grid-column:span 2 ;
}

}












